@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

.pad {
  padding: 0;
}

.button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  vertical-align: inherit;
}

body {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.wrapper {
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__row {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("/Assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: inherit;
}

.header__logo {
  padding-top: 20px;
}

.header__logo img {
  width: 50px;
}

.header__menu-container {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.header__menu li {
  display: inline;
  margin-right: 25px;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__language {
  margin-left: 41px;
}

.header__burger {
  position: relative;
  right: 0px;
  top: 5px;
}

.header__burger::after, .header__burger::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}

.header__burger::after {
  position: absolute;
  top: 10px;
  right: 64px;
  background-color: yellow;
}

.header__burger span::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 64px;
}

.header__burger::before {
  position: absolute;
  top: 20px;
  right: 64px;
  background-color: red;
}

@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 920px) {
  .header li,
  .header span {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header__language {
    margin-right: 120px;
  }
  .header__language a {
    font-size: 20px;
  }
  .header__logo {
    margin-left: 60px;
  }
  .header__menu {
    display: none;
  }
  .header__menu {
    top: 0;
    left: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header__menu ul {
    margin-top: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 15%;
  }
  .header__menu li {
    display: block;
    color: white;
    font-size: 35px;
    line-height: 73px;
    margin-bottom: 16px;
  }
  .header .active {
    left: 25%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

@media (max-width: 420px) {
  .header__row {
    padding: 0px;
  }
  .header__logo {
    margin: 10px;
  }
  .header__language {
    margin: 20px;
    margin-top: 11px;
  }
  .header__burger {
    top: 15px;
    right: 40px;
  }
}

.img-container {
  max-width: 100%;
}

.title-line {
  text-align: center;
  margin-bottom: 60px;
  color: #bdae82;
  font-family: Merriweather;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
}

.title-line h2::before,
.title-line h2::after {
  content: "";
  width: 274px;
  height: 2px;
  display: inline-block;
  background-color: #bdae82;
  vertical-align: middle;
  margin-left: 0px;
  margin-right: 0;
}

@media (max-width: 768px) {
  .title-line {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    max-width: 420px;
  }
  .title-line h2::before,
  .title-line h2::after {
    content: "";
    max-width: 20%;
    height: 2px;
    display: inline-block;
    background-color: #bdae82;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 0;
  }
}

.hero__row {
  background-image: url("/Assets/img/bg.jpg");
  background-position: center -90px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 160px 0px 330px 80px;
  margin-bottom: 97px;
}

@media (max-width: 470px) {
  .hero__row {
    padding: 160px 0 330px 20px;
  }
}

.hero__text {
  max-width: 37%;
}

.hero__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 13px;
}

.hero__title h1 {
  font-size: 60px;
}

.hero__description {
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  margin-bottom: 25px;
}

.hero__button {
  max-width: 220px;
  background-color: #bdae82;
}

.hero__button a {
  color: black;
}

@media (max-width: 920px) {
  .hero__description {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 49px;
  }
}

@media (max-width: 768px) {
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__title h1 {
    font-size: 40px;
  }
  .hero__text {
    max-width: 65%;
  }
  .hero p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }
}

.skills__container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__row {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 50%;
}

.skills__img {
  margin-bottom: 27px;
}

.skills__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}

.skills__description {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 102px;
}

@media (max-width: 900px) {
  .skills__title-line h2::before,
  .skills__title-line h2::after {
    content: "";
    width: 235px;
    height: 2px;
    display: inline-block;
    background-color: #bdae82;
    vertical-align: middle;
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .skills {
    margin-bottom: 84px;
  }
  .skills__container {
    padding-left: 0px 20px;
  }
  .skills__row {
    max-width: 100%;
    margin-bottom: 36px;
  }
  .skills__title-line {
    line-height: 40px;
    font-size: 27px;
  }
  .skills__item-container {
    text-align: center;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 42px;
  }
  .skills__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 50%;
    padding: 0 10px 40px 10px;
    margin: 0 44px 0px 0px;
  }
  .skills__item:nth-child(2n) {
    margin-right: 0px;
  }
  .skills__img {
    max-width: 100%;
  }
  .skills__description {
    text-align: center;
    margin-bottom: 0;
    font-family: Inter;
    line-height: 22px;
  }
  .skills__title {
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .skills__item-container {
    padding: 0;
  }
}

.portfolio__container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 62.5px;
}

.portfolio__row {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.portfolio__item-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__button {
  margin-right: 5px;
  background-color: black;
  width: 50%;
  border: 2px solid #bdae82;
}

.portfolio__button a {
  color: #bdae82;
  font-size: calc(18px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.portfolio__gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__row {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__column {
  padding: 0 12.5px 12.5px 12.5px;
  max-width: 33.3%;
}

.portfolio__column img {
  width: 100%;
}

.portfolio__column:nth-child(3n) {
  padding-right: 0;
}

.portfolio__column:nth-child(1) {
  padding-left: 0;
}

@media (max-width: 900px) {
  .portfolio__title-line h2::before,
  .portfolio__title-line h2::after {
    content: "";
    width: 200px;
    height: 2px;
    display: inline-block;
    background-color: #bdae82;
    vertical-align: middle;
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .portfolio__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 20%;
  }
  .portfolio__row {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__item-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .portfolio__column {
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  .portfolio__item-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__gallery-container {
    max-width: 100%;
  }
  .portfolio__button {
    min-width: 86px;
    width: 100%;
    margin: 0px 5px 5px 0px;
  }
  .portfolio__button:nth-child(2n) {
    margin-right: 0px;
  }
  .portfolio__title-line {
    line-height: 80px;
    font-size: 27px;
    margin-bottom: 50px;
  }
  .portfolio__title-line h2::before,
  .portfolio__title-line h2::after {
    content: "";
    max-width: 10%;
  }
}

.video__container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 84px;
}

.video__video-container {
  max-width: 100%;
}

.video__video-container img {
  width: 100%;
}

@media (max-width: 900px) {
  .video__title-line h2::before,
  .video__title-line h2::after {
    content: "";
    width: 235px;
    height: 2px;
    display: inline-block;
    background-color: #bdae82;
    vertical-align: middle;
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .video__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video__title-line {
    line-height: 80px;
    font-size: 27px;
    margin-bottom: 50px;
  }
  .video__title-line h2::before,
  .video__title-line h2::after {
    content: "";
    max-width: 20%;
  }
}

.price__button {
  max-width: 220px;
  padding: 0px 39px;
  background-color: #bdae82;
}

.price__button a {
  color: black;
}

.price__container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.price__item-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 43px 15px;
  width: 100%;
  border: 2px solid #bdae82;
  margin-right: 25px;
}

.price__item:last-child {
  margin-right: 0;
}

.price__title {
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.price__rate {
  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  color: #bdae82;
  margin-bottom: 20px;
}

.price__description {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}

@media (max-width: 814px) {
  .price__button {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .price__description {
    font-size: 16px;
  }
  .price__item {
    margin-right: 5px;
  }
  .price h2::before,
  .price h2::after {
    content: "";
    width: 235px;
    height: 2px;
    display: inline-block;
    background-color: #bdae82;
    vertical-align: middle;
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .price__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .price__title-line {
    line-height: 80px;
    font-size: 27px;
    margin-bottom: 50px;
  }
  .price__title-line h2::before,
  .price__title-line h2::after {
    content: "";
    max-width: 20%;
  }
  .price__item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__item {
    width: 100%;
    margin-bottom: 50px;
  }
  .price__item:last-child {
    margin-bottom: 80px;
  }
  .price__button {
    max-width: 220px;
  }
}

.contacts__hero {
  background: url("/Assets/img/contacts.jpg");
  height: 700px;
  max-height: 700px;
  background-size: cover;
}

.contacts__container {
  float: right;
  padding-right: 20px;
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__container__button {
  max-width: 220px;
  padding: 16px 43px;
  font-size: 20px;
}

.contacts__container input[type="text"] {
  background: transparent;
  border: 2px solid #bdae82;
  color: #bdae82;
  width: 425px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px 0px 5px 20px;
  margin-bottom: 20px;
}

.contacts__container textarea {
  background: transparent;
  border: 2px solid #bdae82;
  color: #bdae82;
  width: 425px;
  padding: 5px 0 55px 20px;
  margin-bottom: 20px;
}

.contacts__container button[type="submit"] {
  background-color: #bdae82;
}

.contacts__title {
  font-family: Merriweather;
  color: #bdae82;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .contacts__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts button[type="submit"] {
    max-width: 220px;
    padding: 16px 43px;
    font-size: 20px;
  }
  .contacts input[type="text"] {
    width: 94.5%;
    max-width: 450px;
  }
  .contacts textarea {
    max-width: 450px;
    width: 94.5%;
  }
  .contacts form {
    padding: 0px 20px;
    max-width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contacts__title {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .contacts form {
    max-width: 200px;
  }
}

.footer__container {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__github span {
  margin-right: 20px;
  font-size: 20px;
  line-height: 50px;
}

.footer__socials a {
  vertical-align: sub;
  margin-right: 20px;
}

.footer__socials a:last-child {
  margin-right: 0px;
}

@media (max-width: 920px) {
  .footer span {
    font-size: 16px;
  }
  .footer a {
    font-size: 16px;
  }
  .footer img {
    width: 24px;
  }
}

@media (max-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 28px 0 28px 0;
  }
}
/*# sourceMappingURL=style.css.map */